/************************/
/* Framework CSS v.1.0 */
/***********************/

:root {
  /* Colors Base */
  --color-primary: #00d1b2;
  --color-link: #3273dc;
  --color-info: #3298dc;
  --color-success: #48c774;
  --color-warning: #ffdd57;
  --color-danger: #f14668;

  /* Colors light */
  --color-light-primary: #ebfffc;
  --color-light-link: #eef3fc;
  --color-light-info: #eef6fc;
  --color-light-success: #effaf3;
  --color-light-warning: #fffbeb;
  --color-light-danger: #feecf0;

  /* fonts-size */
  --font-small: 0.75rem;
  --font-normal: 1rem;
  --font-medium: 1.25rem;
  --font-large: 1.5rem;
}

/****************/
/* COMPONENTES */
/**************/
/* Buttons */
.btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: var(--font-normal);
  color: #333;
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-ligth {
  background-color: #f5f5f5;
}

.btn-dark {
  color: white;
  background-color: #363636;
}

.btn-black {
  color: white;
  background-color: #000000;
}

.btn-text {
  text-decoration: underline;
}

.btn-primary {
  color: #fff;
  background-color: var(--color-primary);
}

.btn-link {
  color: white;
  background-color: var(--color-link);
}

.btn-info {
  color: #fff;
  background-color: var(--color-info);
}

.btn-success {
  color: #fff;
  background-color: var(--color-success);
}

.btn-warning {
  color: black;
  background-color: var(--color-warning);
}

.btn-danger {
  color: #fff;
  background-color: var(--color-danger);
}

.btn-primary-l {
  color: var(--color-primary);
  background-color: var(--color-light-primary);
}

.btn-link-l {
  color: var(--color-link);
  background-color: var(--color-light-link);
}

.btn-info-l {
  color: var(--color-info);
  background-color: var(--color-light-info);
}

.btn-success-l {
  color: var(--color-success);
  background-color: var(--color-light-success);
}

.btn-warning-l {
  color: var(--color-warning);
  background-color: var(--color-light-warning);
}

.btn-danger-l {
  color: var(--color-danger);
  background-color: var(--color-light-danger);
}

.btn1 {
  display: inline-block;
  padding: 6px 12px;
  font-size: var(--font-normal);
  color: #333;
  background-color: white;
  border: solid 1px;
  border-radius: 4px;
  cursor: pointer;
}

.lbl{
  display: inline-block;
  padding: 6px 6px;
  font-size: var(--font-small);
  font-family: 'Times New Roman', Times, serif;
  color: #333;
  background-color: white;
  border: none;
  border-radius: 4px;
}


.lbl-1{
  color: var(--color-primary);
  background-color: var(--color-light-primary);
}

/****************/
/* UTILIDADES */
/**************/
/* Utilidades para el padding de los btn */
.p-1 {
  padding: 0.5rem 1rem;
}

.p-2 {
  padding: 0.5rem 1.3rem
}

.p-3 {
  padding: .5rem .8rem;
}

.m-1 {
  margin: 1rem .1rem;
}

.m-2 {
  margin: .4rem .1rem;
}


.fz-1 {
  font-size: .6rem;
}

.fz-2 {
  font-size: .8rem;
}

.fz-3 {
  font-size: 1rem;
}

.fz-4 {
  font-size: 1.2rem;
}

.fz-5 {
  font-size: 1.4rem;
}

/*=============== BREAKPOINTS ===============*/
/* Dispositivos pequeños */
@media screen and (min-width: 320px) {
  .sm-p-1 {
    padding: 1.1rem;
  }

  .sm-p-2 {
    padding: 1.1rem;
  }

  .sm-p-3 {
    padding: 1.1rem;
  }

  .sm-p-4 {
    padding: 1.1rem;
  }

  .sm-p-5 {
    padding: 1.1rem;
  }

}

/* Dispositivos medianos */
@media screen and (min-width: 576px) {
  .md-p-2 {
    padding: 1.1rem;
  }
}

/* Tablets */
@media screen and (min-width: 767px) {

}


/* Notebooks */
@media screen and (min-width: 992px) {

}

/* Dispositivos grandes */
@media screen and (min-width: 1024px) {

}